.d {
  width: 100%;
  height: 100vh;
  background-color: teal;
}

/* Navbar */
.navbarRoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  padding: 0 50px;
  z-index: 9;
  position: fixed;
  width: 100%;
  color: white;
}

.header-bg {
  background: rgba(221, 221, 221, 0.35);
  box-shadow: 0 2px 2px 0 rgba(233, 233, 233, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 0 0 10px 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.header-fbg {
  color: black;
}
.logoName {
  font-size: 30px;
  margin: 0;
  color: #000000;
}
.listUl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 55px;
  margin: 0;
}

.linker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 400;
  color: rgb(39, 39, 39);
}
.iconer {
  display: none;
}
.active .linker {
  background-color: #b5816b;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
}
/* Navbar */

/* HOME */
.imager {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  position: relative;
}
.image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.texter {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  justify-content: center;
}
.innerText {
  margin-bottom: 40px;
  width: 1000px;
  text-align: center;
  padding: 30px 50px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 2px 2px 0 rgba(233, 233, 233, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.homeHeading {
  font-weight: 600;
  font-family: "poppins";
  font-size: 45px;
  margin-bottom: 0px;
}
.homeSubtext {
  font-size: 20px;
  font-weight: 400;
}
.homeBtn {
  border: none;
  background-color: #b5816b;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* HOME */

/* About */
.aboutHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95vh;
}
.aImg {
  width: 100%;
}
.aImager {
  width: 100%;
  height: 100%;
}
.aText {
  width: 100%;
}
.aSpanner {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}
.aHeading {
  font-weight: 700;
  font-size: 60px;
  text-transform: lowercase;
}
.aparagraph {
  font-size: 22px;
}

/* Education  */
.education {
  height: 50vh;
}
.educationSection {
  margin-top: 40px;
}
.eduContent {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5px;
  background: rgba(236, 236, 236, 0.35);
  /* box-shadow: 0 2px 2px 0 rgba(233, 233, 233, 0.37); */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  height: 17vh;
}
.eflexer {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
}
.eimger {
  height: 100%;
  width: 29%;
  object-fit: contain;
}
.eimg {
  object-fit: cover;
  border-radius: 10px 0 0 10px;
  height: 100%;
  width: 100%;
}
.etext {
  padding: 10px;
}
.degree {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 1px;
}
.flex {
  font-size: 12px;
  margin: 0;
}
/* Education  */

/* Internships  */
.Internships {
  height: 90vh;
  margin-bottom: 50px;
}
.iContent {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 20px;
  padding: 20px;
}
.iflexer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.iImager {
  width: 100%;
  height: 30vh;
  margin-bottom: 1rem;
}
.iImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
/* Internships  */

/* CEmployer  */
.cEmplyer {
  height: 105vh;
}
.cimg {
  width: 100%;
  height: 50vh;
  margin-bottom: 1rem;
}

/* CEmployer  */

/* About */
/* projects  */

.expImgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rootLister {
  padding: 0 5px;
  margin-top: 0;
}
.exp {
  width: 100%;
  height: 58vh;
  padding-top: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
}
.tContent {
  background: rgba(221, 221, 221, 0.35);
  box-shadow: 0 2px 2px 0 rgba(233, 233, 233, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0px;
  margin: 0px;
  margin-top: 30px;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expText {
  text-align: center;
  margin: 0;
}

.slick-prev:before {
  content: "<";
  color: #545454 !important;
  font-size: 30px;
  position: relative;
}

.sliderr {
  margin: 0;
  padding: 0;
  position: absolute;
}
.tech {
  font-weight: 700;
  font-size: 35px;
}
.subtech {
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
}

.slick-next:before {
  content: ">";
  color: #545454 !important;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.pSection {
  margin-top: 2vh;
}

.pContanier {
  padding: 5px;
}
.pContent {
  margin-top: 5px;
  padding: 10px 10px;
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(197, 197, 197, 0.37);
  backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(184, 184, 184, 0.18);
}

.pImager {
  width: 100%;
  height: 38vh;
  position: relative;
  margin-bottom: 0px;
  filter: grayscale(50%);
}
.pImager:hover {
  filter: grayscale(0%);
}
.pimgs {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.ptitler {
  position: absolute;
  display: flex;
  align-items: end;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.ptitle {
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
.bttn {
  margin-bottom: 10px;
  width: 100%;
  height: 7.5vh;
  text-transform: uppercase;
  background-color: #a1938d;
  border: none;
  color: white;
  border-radius: 5px;
}
.bttn:hover {
  background-color: #b5816b;
}
/* projects  */

/* Contact page  */
.hanlder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 40%;
  height: 100vh;
  padding: 0 70px 0 30px;
  background-color: white;
  float: left;
  position: fixed;
  border-radius: 0 30px 30px 0;
}
.contacter {
  border-radius: 0 30px 30px 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 40%;
  height: 100vh;
  padding: 0 70px 0 30px;
  background-color: white;
  float: left;
}
.imager {
  width: 100%;
  height: 100vh;
  object-position: unset;
  object-fit: cover;
}
.contactHeader {
  margin-bottom: 15px;
}
.inputer {
  border: none;
  padding: 10px 15px;
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid grey;
}
.clickBtn {
  display: block;
  cursor: pointer;
  color: blue;
  font-weight: 600;
  font-size: 24px;
  text-transform: lowercase;
}
.form {
  transition: ease-in;
  transition-duration: 2s;
}
.hideMe {
  display: none;
}
.goback {
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: 19px;
  cursor: pointer;
  text-transform: lowercase;
  color: rgb(135, 135, 255);
  margin: 0;
  font-weight: 500;
  font-size: 16px;
}
.linkerr {
  text-decoration: none;
  margin-top: 25px;
  padding-top: 10px;
}

/* Contact page  */
@media screen and (max-width: 1020px) {
  /* Navbar  */
  .navbarRoot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    padding: 0 20px;
    z-index: 9;
    width: 100%;
    color: white;
    position: relative;
    bottom: 0;
  }
  .logoName {
    display: none;
  }
  .list {
    width: 100%;
    bottom: 0;
    position: fixed;
  }
  .listUl {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    z-index: 9;
    margin-right: 0;
    background-color: white;
    padding: 20px 0;
    border-radius: 20px 20px 0 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .header-bg {
    position: fixed;
    z-index: 9;
    height: 10vh;
    padding: 0px;
    z-index: 9;
    width: 100%;
    bottom: 0;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: none;
    border: none;
  }
  .linker {
    color: black;
    font-size: 15px;
    font-weight: 400;
    z-index: 9;
  }
  .iconer {
    display: block;
    color: #505050;
  }
  .active .iconer {
    color: #b5816b;
    padding: 0px;
    border-radius: 0px;
    text-decoration: none;
    font-weight: none;
  }
  .active .linker {
    background-color: transparent;
    color: #b5816b;
    padding: 0px;
    border-radius: 0px;
    text-decoration: none;
    font-weight: none;
  }
  /* Navbar  */
  /* Home  */
  .innerText {
    margin-bottom: 40px;
    width: 1000px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px 50px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 2px 2px 0 rgba(219, 219, 219, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .homeHeading {
    font-weight: 600;
    font-family: "poppins";
    font-size: 35px;
    margin-bottom: 0px;
  }
  .homeSubtext {
    font-size: 20px;
    font-weight: 400;
  }
  .homeBtn {
    border: none;
    background-color: #b5816b;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 400;
    text-transform: uppercase;
    width: 100%;
  }
  /* Home  */
  /* About  */
  .Abouter {
    width: 100%;
    height: auto;
    margin-bottom: 10vh;
  }
  .aboutHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
    height: 100vh;
  }
  .aImg {
    width: 100%;
  }
  .aImager {
    width: 100%;
    height: 100%;
  }

  .aText {
    width: 100%;
    text-align: center;
  }
  .aSpanner {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
  .aHeading {
    font-weight: 700;
    font-size: 45px;
    text-transform: lowercase;
  }
  .aparagraph {
    font-size: 18px;
  }
  /* Education  */
  .education {
    height: auto;
    margin-bottom: 40px;
  }
  .educationSection {
    margin-top: 10px;
  }
  .eduContent {
    gap: 5px;
    height: 14vh;
  }
  .eflexer {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
  }
  .eimger {
    height: 100%;
    width: 35%;
    object-fit: contain;
  }
  .eimg {
    object-fit: fill;
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 100%;
  }
  .etext {
    padding: 10px;
  }
  .degree {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 1px;
  }
  .flex {
    font-size: 12px;
    margin: 0;
  }
  /* Internships  */
  .Internships {
    height: auto;
    margin-bottom: 40px;
  }
  .iContent {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    padding: 20px 10px;
  }
  .time {
    font-size: 10px;
  }
  .iImager {
    width: 100%;
    height: 24vh;
    margin-bottom: 1rem;
  }
  .iImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  /* Internships  */
  /* CEmployer  */
  .cEmplyer {
    height: auto;
    margin-bottom: 15vh;
  }
  .cimg {
    width: 100%;
    height: 24vh;
    margin-bottom: 1rem;
  }

  /* CEmployer  */
  /* Education  */
  /* About  */

  /* Technology  */
  .exp {
    width: 100%;
    height: 32vh;
    top: 10px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0px;
    margin-top: 7vh;
    padding: 0;
  }
  .tContent {
    margin-top: 24px;
    height: 10vh;
  }
  .tech {
    font-size: 28px;
    padding-right: 20px;
  }
  .subtech {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .rootLister {
    padding: 0 5px;
    margin-top: 0;
  }
  .expText {
    font-size: 15px;
  }
  /* Technology  */

  /* Projects  */
  .pContanier {
    padding: 5px;
  }
  .pContent {
    margin-top: 0px;
    padding: 5px 5px;
    display: flex;
    height: 33vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(197, 197, 197, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .pImager {
    width: 100%;
    height: 30vh;
    position: relative;
    margin-bottom: 0px;
    filter: grayscale(50%);
  }
  .pImager:hover {
    filter: grayscale(0%);
  }
  .pimgs {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .ptitler {
    position: absolute;
    display: flex;
    align-items: end;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .ptitle {
    background-color: #ffffff;
    width: 100%;
    padding: 8px;
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
  }
  .bttn {
    height: 5vh;
    text-transform: uppercase;
    background-color: #a1938d;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    margin-bottom: 0;
  }
  .bttn:hover {
    background-color: #b5816b;
  }
  /* Projects  */

  /* Contact  */
  .hanlder {
    bottom: 20px;
    float: none;
    height: 38vh;
    width: 100%;
    position: fixed;
    padding: 0px 30px;
    justify-content: center;
    border-radius: 30px 30px 0 0;
  }
  .contacter {
    bottom: 20px;
    float: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    padding: 10px 30px;
    border-radius: 0;
  }
  .contactHeader {
    margin-bottom: 15px;
  }
  .inputer {
    border: none;
    padding: 10px 10px;
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: none;
    border: 0.5px solid rgb(148, 148, 148);
  }
  .showForm {
    height: 90vh;
    width: 100%;
    position: fixed;
    padding: 10px 30px;
    border-radius: 30px 30px 0 0;
  }
  .goback {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
    text-transform: lowercase;
  }

  /* Contact  */
}
